<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c7a4e4">  <td>18/11/13 16:00:19</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TC002_CreateLead.setData()[pri:0, instance:testCases.TC002_CreateLead@4bec1f0c]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@724125922</td>   <td></td> </tr>
<tr bgcolor="92ec79">  <td>18/11/13 16:00:20</td>   <td>1029</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testCases.TC002_CreateLead@4bec1f0c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@724125922</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>18/11/13 16:00:33</td>   <td>13964</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.CreateLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCases.TC002_CreateLead@4bec1f0c]">CreateLead</td> 
  <td>main@724125922</td>   <td></td> </tr>
<tr bgcolor="92ec79">  <td>18/11/13 16:01:25</td>   <td>65274</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testCases.TC002_CreateLead@4bec1f0c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@724125922</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>18/11/13 16:01:39</td>   <td>79444</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.CreateLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCases.TC002_CreateLead@4bec1f0c]">CreateLead</td> 
  <td>main@724125922</td>   <td></td> </tr>
</table>
